<ul class="projects item_list">
<% @projects.each do |project| %>
  <li class="project" id="project_<%= project.id %>">
    <ul class="project_details item_detail">
      <li class="project_name"><%= link_to project.name, project_features_path(project) %></li>
      <li class="project_settings"><%= link_to 'Settings', edit_project_path(project) %></li>
    </ul>
  </li>
<% end %>
</ul>

<%= link_to 'New project', new_project_path %>