<%= link_to '&lt; Return to Features', project_features_path(@project), :id => "step_back" %>

<h2>Editing feature</h2>

<%= render :partial => 'feature_form', :locals => {:project => nil, :feature => @feature, :submit => "Update Feature"} %>