<ul class="features item_list">
<% @features.each do |feature| %>
  <li>
    <ul class="item_detail">
      <li class="feature_name"><%= link_to feature.name, feature %></li>
    </ul>
  </li>
<% end %>
</ul>



<%= link_to 'New feature', new_project_feature_path(@project) %>