<!DOCTYPE html>
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
  <title>dayjob - login/register</title>
  <link rel="Shortcut Icon" type="images/ico" href="/favicon.ico" />
  
  <%= render :partial => 'layouts/head' %>
</head>
<body>
  <%= render :partial => 'layouts/flash' %>
  <div id="content">
    <%= yield %>
  </div>
  <%= render :partial => 'layouts/account_navigation' %>
</body>
</html>
